body {
  font-family: sans-serif;
  /* margin: 40px; */
  background: #f8f8f8ce;
}
h1, h2 {
  color: #333;
}
form {
  padding: 20px;
  
}
label {
  display: block;
  margin-top: 10px;
}
input[type="text"], input[type="password"], input[type="file"] {
  width: 100%;
  padding: 5px;
}
button {
  margin-top: 15px;
  padding: 10px 20px;
}

.telaLogin{
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 5px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); /* Transparente */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.logo span {
  font-weight: normal;
  font-size: 0.8rem;
  display: block;
  line-height: 1;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #f5c518;
}

/* Hero */
.hero {
  height: 100vh;
  background: url('../img/desert.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Escurece fundo */
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 800px;
  padding: 20px;
}

.hero h1 {
  /* font-size: 2rem; */
  font-weight: 900;
  letter-spacing: 6px;
  margin-bottom: 15px;
 color: white;
}

.hero h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

/* Ícone de busca como placeholder */
.search-icon {
  font-size: 1rem;
}